version: "3.9"

services:
  frontend:
    build:
      context: ./front
    container_name: duemart_frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

  backend:
    build:
      context: ./bck
    container_name: duemart_backend
    ports:
      - "4000:4000"
    env_file:
      - ./bck/.env
