services:
  frontend:
    build:
      context: ./front
    container_name: duemart_frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

  backend:
    build:
      context: ./bck
    container_name: duemart_backend
    ports:
      - "4000:4000"
    environment:
      PORT: 4000
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      MONGODB_URI: ${MONGODB_URI}
