.categories-section {
  padding: 2rem;
  background: #fff;
  margin:0rem auto;
}

.categories-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.2rem;
}

.category-card {
  width: 10rem;
  height: 12rem;
  text-align: center;
  background: #fafafa;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s
}

.category-image{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}