<section class="products-section">
  <h2 class="section-title">🛒 All Products</h2>

  <div *ngIf="products.length === 0" class="loading">
    Loading products...
  </div>

  <div class="products-container" *ngIf="products.length > 0">
    <div class="product-card" *ngFor="let product of products">
      <h3 class="product-name">{{ product.product_name }}</h3>
      <p class="product-desc">{{ product.product_description }}</p>
      <p class="product-qty">📦 Quantity: {{ product.product_quantity }}</p>
      <p class="product-price">💰 ₹{{ product.product_price }}</p>

      <!-- 🔹 product pass karna -->
      <button class="btn btn-primary" (click)="addtocart(product)">
        Add to Cart
      </button>
    </div>
  </div>
  <app-show-popup
  *ngIf="showPopup"
  [productName]="addedProductName">
</app-show-popup>
</section>
