<nav class="navbar">
  <div class="logo">
    <a routerLink="/">DueMart</a>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Search for products..." />
    <button class="search-btn">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/showallproduct">Products</a></li>

    <!-- Login/Signup sirf tab dikhayega jab token nahi hoga -->
    <ng-container *ngIf="!token">
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Signup</a></li>
    </ng-container>

    <!-- Agar token mila to logout button dikhayega -->
    <ng-container *ngIf="token">
      <li>
        <a (click)="logout()" style="cursor: pointer">Logout</a>
      </li>
    </ng-container>

    <!-- Cart tabhi dikhayega jab cart me kuch ho -->
    <li class="cart-link" *ngIf="cartCount > 0">
      <a routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-count">{{ cartCount }}</span>
      </a>
    </li>
  </ul>
</nav>